
a:link {
  color: #532F8C;
}


a:visited {
  color: #532F8C;
}


a:hover {
  color: #E2BAAC;
}


a:active {
  color: #532F8C;
}

.Titles {
  font-size: 40px;
  line-height: 45px;

  color: #532f8c;
  margin-top: 7px;

  margin-bottom: 10px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {

  .Titles {
    font-size: 27px;
    line-height: 27px;
    color: #532F8C;
    font-weight: 500;
    padding-top: 3px;
  }
}


.Subtitles {
  font-size: 26px;
  color: #7E7E7E;
  margin-top: -10px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 9px;
  line-height: 30px;
  padding-bottom: 20px;
}

@media screen and (max-width: 991px) {

  .Subtitles {
    font-size: 17px;
    color: #6B6B6B;
    margin-top: -5px;
    font-weight: 500;
    margin-bottom: 35px;
    text-align: left;
    line-height: 22px;
  }
}

.CellBackground {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 4%;
  background-image: linear-gradient(177deg, #f4f4f4 0.26%, #eaeaea 62.69%);
  padding-right: 4%;
  overflow-y: auto;
  box-shadow: inset 0px -1px 12px rgba(230, 230, 230, 0.88);
  border-top: 1px solid white;
}

.Copyright {
  font-size: 14px;
  line-height: 23px;
  color: #989898;
  padding-right: 25px;
  text-align: center;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
